@font-face {
	font-family: Langar;
	src: url(./fonts/langar/Langar-Regular.ttf)
}
@font-face {
	font-family: Assistant;
	src: url(./fonts/assistant/Assistant-VariableFont_wght.ttf)
}
:root {
    --orange: #ffa033;
}
body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe193;
    color: var(--orange);
}



h1.titleGame {
    font-family: Langar;
}
h1.titleGame,
footer.createdBy {
    color: var(--orange);
}
footer.createdBy small {
    font-family: Assistant;
    font-weight: 300;
}
