/* Desktop version */
@media (min-width: 541px) {
    div.respMobile {
        display: none;
    }
}
@media (min-width: 400px) {
    footer small {
        font-size: 100%;
    }
}



/* Mobile version */
@media (max-width: 540px) {
    canvas {
        display: none;
    }
}